[package]
name = "spectrum"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hound = "3.5.0"
rustfft = "6.1.0"
sdl2 = { version = "0.35.2", features = ["mixer"] }
